

h2 { font-size:14pt;
     color:#444444;
     font-family:Helvetica,Arial; }

h3 { font-size:11pt;
     color:#444444;
     font-family:Helvetica,Arial; }

td, th { font-size:10pt;
     font-family:Helvetica,Arial; }

select { font-size:8pt;
	     font-family: Helvetica,Arial;}

input { font-size:9pt;
	     font-family: Helvetica,Arial;}

option { font-size:8pt;
	     font-family: Helvetica,Arial;}

td.backgrLight {
	background-color : #9FCFF1;
}

td.backgrDark {
	background-color : #79B6E1;
}

font.user{
	font-size:10pt;
	font-family:Helvetica,Arial;
	text-align : center;
}

font.copyright{
	font-size:9pt;
	font-family:Helvetica,Arial;
	color : #3373b1;
}

input[type="checkbox"], input[type="radio"]
{
	margin-right: 4px;
	vertical-align: text-bottom;
}

input[type="text"]:focus, select:focus, textarea:focus, input[type="password"]:focus {
    border-color: #777;
}

input[type="text"], select, textarea, input[type="password"] {
    background-color: #f5f5f5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}
input[type="text"], textarea, select, div.styled, input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
}

input.wrongInput
{
	background-color: #FFCCCC;
}

input.rightInput
{
	background-color: #CCFFCC;
}

input.warningInput
{
	background-color: #ffe8cc;
}

input, select, textarea {
    box-sizing: border-box;
    margin: 0;
    outline: medium none;
}

select
{
	line-height: 22px;
}

select, input, textarea
{
	margin: 2px 0px;
}

input[type="button"], input[type="submit"], input[type="reset"], button
{
	margin: 0;
}

a:link { color:#000088; text-decoration:none; }
a:visited { color:#000088; text-decoration:none; }
a:hover { color:#1ca8dd; text-decoration:none;}
a:active { color:#1ca8dd;}

a.nohover:link { color:#4292d0; text-decoration:none; }
a.nohover:visited { color:#4292d0; text-decoration:none; }
a.nohover:hover { color:#4292d0; text-decoration:none; }
a.nohover:active { color:#4292d0; }

th.editor
{
	font-size:10pt;
	font-family:Helvetica,Arial;
	text-align: left;
	font-weight: bold;
}

th.editorCenter
{
	font-size:10pt;
	font-family:Helvetica,Arial;
	text-align: center;
	font-weight: bold;
}

legend.editor
{
	font-size:10pt;
	font-family:Helvetica,Arial;
	text-align: left;
	font-weight: bold;
}

td.header
{
	font-size:10pt;
    font-family:Helvetica,Arial;
    font-weight:bold;
}

iframe#preview
{
	background-color: #ffffff;
	background-repeat:no-repeat;
	background-position: 100px 100px;
}

.hidden
{
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.no-background
{
	background-color: rgba(0, 0, 0, 0) !important; 
	background: none !important;
}

.no-border
{
	border: none !important;
}

.VCDijitEditor
{
	background-color: white;
}

legend
{
	font-family:Helvetica,Arial;
	font-size:10pt;
}

legend.confirmation
{
	font-size: 1.4em;
	font-weight: bolder;
}

legend.message
{
	font-size: 11pt;
}

table.confirmation
{
	 margin-top: 8%;
	 width: 70%;
}

.invisible
{
	display: none;
}

tr.menuDND {
	background-color : #ffffff;
}

.wordbreak
{
	word-break: break-all; word-wrap:break-word;	
}

.wordbreakOptions
{
	word-wrap:break-word;	
}

td.DnDItemExtra
{
	width: 400px;
	min-width: 150px;	
	max-width: 450px;
	
}

#close_open_all_online_surveys
{
	float:right;
	clear: left;
}

.clickableIcon
{
	cursor: pointer;
}